

.alert_dialog{
    top: 10%;
    position: absolute;
    width: 30%;
    left: 40%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    z-index: 99999;
    opacity: 100%;
    padding: 15px 20px;
    background: white;
}

.alert_dialog .header{
    font-size: 1.4rem;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
}

.alert_dialog .content{
    padding: 20px 0px;
    font-size: 0.8rem;
}
