
.admin_page_container{
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    padding: 0 2.8rem;
    min-height: 75vh;
    background: whitesmoke;
}

.admin_page_container .side_menu{
    width: 20%;
    float: left;
}

.admin_page_container .content{
    width: 80%;
    float: left;
}

.clearfix{
    clear: both;
}

.side_menu ul{
    background: blue;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px !important;
}

.side_menu ul li{
    background: blue;
    padding: 5px 5px;
    cursor: pointer;
}

.side_menu ul li:hover{
    background: #3178b2 ;
}

.side_menu ul li a{
    text-decoration: none;
    margin-bottom: 2px;
    color: white;
    font-size: 0.8rem;
    display: block;
}

.page_header{

    margin-left: 10px;

}

.page_content{
    margin-left: 10px;
}
