

.form_group{
    margin-bottom: 6px;
}

.form_group label{
    font-size: 0.7rem;
    font-weight: bold;
}

.form_control {
    border: 1px solid #cecece;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 5px;
    min-width: 200px !important;
}

.form_container{
    width: 60%;
}