body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root .container{
  min-height: 70vh;
}

.app-logo{
  display: inline-block;
  float: left;
  padding: 10px 20px;
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
}

.navbar{
  height: 50px;
  background-color: blue;
  text-align: end;
}

.navbar li{
  display: inline-block;
  padding: 0px 20px;
  color: white;
  height: 50px;
  background-color: rgb(7, 7, 85);
  cursor: pointer;
}

.navbar li a{
  display: inline-block;
  padding-top: 12px !important;
  text-decoration: none !important;
  color: white !important;
}

.navbar li a:hover{
  color: yellow !important;
}

.container{
  width: 80%;
  margin: 10px auto;
}

.footer{
  margin-top: 30px;
  border-top: 1px #ccc dotted;
  color: gray;
  font-size: 0.8em;
  padding: 10px 20px;
  text-align: center;
}

.dashboard-content{
  margin: 50px 20px;
  text-align: center;
}

table.table{
   border-collapse: collapse;
   width: 90%;
}

.table td, .table th{
  text-align: left;
  padding: 5px;
  font-size: 0.8em;
}

.td-width-15{
  width: 15% !important;
}

.td-width-5{
  width: 5% !important;
}

table .btn{
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn{
  font-size: 0.6em;
  padding: 5px 10px;
  border-radius: 5px;
  border:none;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary{
  background-color: blue;
}

.btn-danger{
  background-color: red;
}

tfoot.pagination-container{
  padding: 5px 5px !important;
  display: inline-block;
}

.btn-paginate{
  font-size: 0.6em;
  padding: 5px 10px;
  border-radius: 5px;
  border:none;
  color: white;
  background-color: #2196f3;
  margin-top: 5px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin: 10px 2px;
  width: 20px;
  text-align: center;
}

.btn-paginate.deactive{
  background-color: #b8bdc1;
}

.preloader{
  margin: 40px 40px;
  text-align: center;
  color: blue;
}

.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}

.ml-5{
  margin-left: 5px;
}

.center{
  text-align: center !important;
}

.right{
  float: right;
}

span.error{
  display: inline-block;
  font-size: 0.7rem;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}

.bordered-error{
  padding: 5px 10px;
  border: red solid 1px;
   border-radius: 3px;
}

.center{
 text-align: center;
}

.hide{
  display: none;
}