
.stat_container{
    box-shadow: 0 2px 2px 0 rgb(255 69 0 / 70%);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    
    min-height: 20px;
    width: 250px;
    vertical-align: middle;
    background: white;
}

.stat_title{
    float: left;
    padding: .5rem 10px;
    font-weight: bold;
}

.stat_value{
    float: right;
    background-color: orangered;
    color: white;
    font-size: 2rem;
    padding-right: 25px;
    padding-left: 25px;
}